<footer class="site-footer">
  <span class="footer-copyright">Copyright © 2015 Tilde New Music and Sound Art</span>
  <div class="footer-secondary-links">
    <ul class="footer-social">
      <li><a href="https://www.facebook.com/tildenewmusic">
        <img src="/assets/img/social/facebook.png" alt="Facebook">
        </a></li>
      <li><a href="https://twitter.com/tildenewmusic">
        <img src="/assets/img/social/twitter.png" alt="Twitter">
      </a></li>
      <li><a href="mailto:info@tilde.net.au">
        <img src="/assets/img/social/email.png" alt="Email">
      </a></li>
    </ul>
  </div>
</footer>
<script type="text/javascript" src="/assets/js/app.js"></script>
