body {
	margin: 0;
	background-image: url('/assets/img/background.png');
}

.page-content {
	@include outer-container;
	background-color: #fff;
	opacity: 0.0;
	.wrapper {
		padding: 4em 3em;
	}
}

section.frontpage-slideshow {
	background-color: #012;
	border-bottom: 2px solid #eee;
	.slides {
		img {
			width: 100%;
		}
	}
}

.frontpage-slideshow img {
	width: 1200px;
	height: auto;
}

.festival-poster {
	@include span-columns(8);
	text-align: center;
}

.tilde-benefactors {
	@include span-columns(4);
	min-width: 238px;

	ul {
		li {
			list-style-type: none;
			border-bottom: 1px solid #ddd;
			margin-bottom: 1em;
			p {
				margin: 0;
			}
		}
	}
}

.EOI-form-container {
	max-width: 600px;
	margin-left: 1em;
}

@media (max-width: 780px) {
	.festival-poster {
		@include fill-parent;
	}
	.tilde-benefactors {
		@include fill-parent
	}
}
