.festival-grid {
  background-color: #fbfbfb;
  padding: 0 0.5em;
  border: 1px solid #eee;
  box-shadow: 4px 4px 10px #f3f3f3;
  table {
    th {
      padding: 0.5em;
    }
    td {
      padding: 2px 4px;
    }
    td.grid-item {
      opacity: 0.75;
      -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
      transition: opacity 0.3s ease-in-out;
      &:hover {
        opacity: 1.0;
        border-bottom-color: #000;
      }
      border: 1px solid #ddd;
      .event_artist, .event_title {
        font-size: 9pt;
      }
      .event_title {
        font-weight: 500;
      }
      .event_all_day {
        font-style: italic;
      }
      a {
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 0.75;
        color: #000;
        font-family: "helvetica neue", sans-serif;
        &:hover {
          color: #000;
          opacity: 1.0;
        }
      }
    }
  }
}
