section.image_gallery {
  div.crop {
    max-width: 170px;
    max-height: 170px;
    width: 15%;
    height: inherit;
    overflow: hidden;
    margin: 5px;
    display: inline-block;
    vertical-align: top;
    img {
      max-width: 100%;
      height: auto;
      width: auto;
      opacity: 0;
    }
    img.landscape {
      max-width: none;
      max-height: 100%;
    }
  }

  // Bodging up a fluid grid
  @media (max-width: 970px) {
    div.crop {
      width: 18%;
      height: auto;
    }
  }

  @media (max-width: 840px) {
    div.crop {
      width: 22.5%;
      height: auto;
    }
  }

  @media (max-width: 650px) {
    div.crop {
      width: 30%;
      height: auto;
    }
  }

  @media (max-width: 550px) {
    div.crop {
      max-width: 150px;
      max-height: 150px;
      width: 43%;
      height: auto;
      padding: 0;
    }
  }
}
