.aslide {
    display: none;
}
.aslide img {
    max-width: 100%;                
}
.aslider {
    width: 90%;
    height: 1200px;
}
.aslide .text {
    margin: 0 auto;
    color: #f8f8f8;
    text-shadow: 0 0 2px #000;
    font-weight: bold;
    font-size: 36px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 30px;
    font-family: sans-serif;
}