<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="home">
    <div class="wrapper-for-content-outside-of-footer">
      {% include header.html %}
      <div class="page-content">
        <section class="frontpage-slideshow">
          <ul class="slides">
            {% loop_directory directory:images/slides iterator:image filter:*.jpg sort:descending %}
               <li><img src="images/slides/{{ image }}" /></li>
            {% endloop_directory %}
          </ul>
        </section>
        <div class="wrapper">
          <h1 class="page-title">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
