---
layout: default
---

<h1>Photos</h1>

<section class="image_gallery">
{% loop_directory directory:images/gallery iterator:image filter:*.jpg sort:descending %}
  <div class="crop">
   {% capture imageurl %}images/gallery/{{image}}.jpg{% endcapture %}
   {% thumbnail imageurl 150x150^ %}
 </div>
{% endloop_directory %}
</section>

<script type="text/javascript">
// Add landscape class to landscape images
$( document ).ready(function() {
    $('section.image_gallery img').each(function() {
      if ($(this).width() > $(this).height()) {
        $(this).addClass('landscape');
      }
    });
});
</script>
