---
layout: default
---

<h1>Photos</h1>

<section class="image_gallery" data-featherlight-gallery data-featherlight-filter="a">
{% for photo in site.data.gallery %}
<div class="crop">
  {% capture imageurl %}images/gallery/{{photo.file}}{% endcapture %}
  <a href="#" data-featherlight="{% thumbnail imageurl 1366x768> %}">
    <div class="photo_caption">
      {% if photo.credit %}
      Credit:
      <br />
      {{photo.credit}}
      {% endif %}
    </div>
    {% thumbnail imageurl 170x170^ %}
  </a>
</div>
{% endfor %}
</section>
